<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>

<html>
<div class="errorPage">
    <p>There seems to be a problem with the page you requested
        (<span text="${path}">/readingList</span>).</p>
    <p th:text="${'HTTP Status ' + status}"></p>
    <p th:text="${'Error message: ' + message}"></p>
    <p th:text="${'Time: ' + timestamp}"></p>
    <p th:text="${'Cause: ' + cause}"></p>
    <p th:text="${'StackTrace: ' + trace}"></p>
    <p th:text="${'exception.message: ' + exception.class}"></p>
</div>
</html>

</html>